@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Regular.ttf);
}



body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin: 0px;
}

nav {
  display: flex;
  background-color: #1F2937;
  padding: 10px;

}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  gap: 30px;
  margin-right: 200px;
  font-size: 18px;
  color: #E5E7EB;
}

.header_logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: bold;
  margin-left: 200px;
  font-size: 24px;
  color: #F9FAF8;
}

.header {
    display: flex;
    padding-top: 100px;
    background-color: #1F2937;
    padding-bottom: 100px;
}

h1 {
  margin: 0px;    
}

.right_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-right: 200px;
    width: 500px
}

.left_header {
    margin-right: auto;
    margin-left: 200px;
    width: 450px;
}

.left_header h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.left_header p {
    font-size: 18px;
    color: #E5E7EB;
}

.left_header button {
    background-color: #3882f6;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color:#F9FAF8;
    border: 0px
}


.subtext h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-top: 40px;
}

.image_windows {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.box {
  border-style: solid;
  border-width: 3px;
  border-color: #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.box_text {
    width: 150px;
    padding-top: 8px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #E5E7EB;
    padding: 80px 560px;
}  

.quote em {
   font-size: 36px; 
   color: #1F2937;
}

.quote_reference {
    align-self: end;
}
